@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cutive+Mono&display=swap');

:root {
    --white: #ffffff;
    --richblack: #050f10;
    --stormgrey: #777777;
    --lightgrey: #f6f6f6;

    --font-family-cutive-mono: 'Cutive Mono', monospace;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fancybox__container {
    z-index: 1120 !important;
}
